<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Edit</th>
            <th>Detail</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getName()}">...</td>
            <td th:utext="${user.getLastName()}">...</td>
            <td><a th:href="@{/users/update/{id}(id=${user.getId()})}">update</a>
            <a th:href="@{/users/delete/{id}(id=${user.getId()})}">delete</a></td>
            <td style="text-align:center"><a th:href="@{/users/{id}(id=${user.getId()})}">...</a>
        </tr>
    </table>
    <p><a href="/users/save">Add user</a></p>
    <p><a href="/">На главную</a></p>
</div>
</body>
</html>